.gallery {
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom: 15px;
    overflow-x: auto;

}

@media all and (min-width: 375px) {
    .gallery {
        margin-bottom: 20px;
        margin-bottom: 2rem
    }
}

.gallery__item {
    margin-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    flex: 0 0 auto;
}